ion-card{
    background-color: azure;
}

.ic1{
    color: rgb(255, 0, 0)
}

.ic2{
    color: rgb(0, 255, 8)
}

.con{
    height: 100p    x;
}

.pic1{
    width: 100px;
    width: 100px;
    margin-left: -10px;
}

.val{
    margin-left: 200px;
    font-size: 30px;
    margin-top: -50px;
}

p{
    font-size: x-large;
    color: black;
}

.content-box {
    background-color: pink;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }